html {
  font-family: Arial;
}

.sidebar {
  position: fixed;
  width: 20%;
  height: 99vh;
  background: #33215e;
  box-shadow: 0 4px 15px rgba(147, 80, 236, 0.7);
  border-radius: 10px;
  font-size: 0.65em;
  top: 0.5vh;
  left: 0.5vh;
  bottom: 1vh;
  transition: width 0.3s ease;
}
.user-option img {
  background-color: #fff;
}
#userlogo {
  height: 4em;
  width: 4em;
  background-color: white;
  border: 1px solid #5d449a;
}
.sidebar.collapsed {
  width: 5%;
}

.sidebar.expanded {
  width: 20%;
}

.sidebar.expanded .toggle {
  position: fixed;
  z-index: 999;
  left: 19.5vw;
  transition: all right ease-in 400ms;
}
/* .sidebar.expanded .toggle{
  position: fixed;
  left: 19.5vw;
}
.sidebar.collapsed .toggle{
  position: fixed;
  left: 5vw;
} */
.sidebar.collapsed .toggle {
  position: fixed;
  z-index: 999;
  left: 4.5vw;
  transition: all right ease-in 400ms;
}

/* Sidebar header for logo and collapse button */
.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background: rgb(124 93 199 / 58%);
  border-radius: 10px;
}

.logo {
  width: 40px;
  height: 40px;
}
.toggle {
  background-color: white;
  width: 1em;
  height: 1em;
  border-radius: 50px;
  width: 3em;
  height: 3em;
}
.toggle-button {
  background-color: transparent;
  color: rgb(0, 130, 159);
  cursor: pointer;
  width: 3em;
  height: 3em;
  padding: 0px;
  margin: 0px;
}

/* User option styling */
.user-option {
  display: flex;
  align-items: center;
  padding: 1em;
}

.user-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 0.5em;
}

.settingnl-active {
  text-transform: uppercase;
  letter-spacing: 0.4em;
  color: white;
  display: block;
  transition: all ease-out 400ms;
}
.settingnl {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  color: white;
  display: block;
  transition: all ease-out 400ms;
}

/* Navigation styles */
.nav {
  position: relative;
  margin: 0 15%;
  text-align: right;
  top: 40%;
  transform: translateY(-50%);
  font-weight: bold;
}

.nav ul {
  list-style: none;
  padding: 2vh;
  margin: 1vh;

  li {
    position: relative;
    margin: 2em 0;
    height: 3vh;

    .anchortag {
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.4em;
      color: white;
      display: block;
      transition: all ease-out 400ms;
    }
    .notactive_achortag {
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.2em;
      color: #f7f7f7cf;
      display: block;
      margin-bottom: -1vh;
    }

    .active {
      color: white;
      font-weight: 1000;
    }

    :not(.active)::after {
      opacity: 0.2;
    }

    :not(.active):hover {
      color: rgba(#fff, 0.75);
    }

    ::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 0.2em;
      background: black;
      left: 0;
      bottom: 0;
      transition: all 0.4s ease; /* Smooth transition on collapse */
      background-image: linear-gradient(to right, #5e42a6, #b74e91);
    }
  }
}
.hidden {
  visibility: hidden;
}
.sidePanal_menuicons {
  height: 2em;
  width: 2em;
  padding-right: 5px;
  margin-right: 10px;
}
