.invoice-container {
  margin: auto;
  font-family: Arial, sans-serif;
  color: #333;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  left: calc(21.5vw); /* Adjusted to align with expanded sidebar */
  right: 1vw;
  position: absolute;
  display: block;
  transition: all 0.3s ease; /* Smooth transition for collapse/expand */
}

.sidebar.collapsed ~ .invoice-container {
  left: calc(8vw); /* Adjust when the sidebar is collapsed */
  right: 1vw;
}

.invoice-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.company-details {
  width: 60%;
  /* display: flex; */
}

.invoice-title h1 {
  font-size: 2em;
  text-align: right;
}

.billing-info {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.invoice-details .data {
  margin-top: 10px;
}
.invoice-details {
  line-height: 30px;
}
.invoiceId {
  width: 3vw;
}

.invoice-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.invoice-table th {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}
.invoice-table td {
  padding: 5px;
  text-align: center;
  border: 1px solid #ddd;
}
.invoice-table td input,
.invoice-table td div input {
  text-align: center;
}

.total-section {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.tax-summary .normalgst {
  display: flex;
  flex-direction: column;
  margin: 1vh 0px;
}
.total-amount {
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding-bottom: 10vh;
  width: 18vw;
  input {
    width: 10vw;
    text-align: right;
  }
}

.terms-and-conditions,
.bank-details {
  font-family: monospaced sans serif;
  margin: 0px 10px 10px 10px;
  line-height: 20px;
}

.signature {
  text-align: right;
  margin-top: 40px;
}
.billing-info,
form [type="text"] {
  border: none;
  outline: none;
}
input {
  height: 25px;
}
#cnumber::-webkit-outer-spin-button,
#cnumber::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.bill-to h3 {
  margin: 0px;
}
.sticky-div {
  position: sticky;
  justify-content: center;
  align-items: center;
  background: rgba(156, 184, 233, 0.22);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.6px);
  -webkit-backdrop-filter: blur(5.6px);
  bottom: 0px;
  z-index: 1000;
  display: none; /* Initially hidden */
  gap: 10vw; /* Optional: adds space between buttons */
  height: 34px;
  padding: 3px;
  width: 100%;
  padding-top: 10px;
}

.sticky-div.active {
  display: flex; /* Show when active */
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#total {
  width: 16vw;
  text-align: right;
  position: relative;
  display: block;
}
.statesselection {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0px;
  label {
    padding-right: 5px;
  }
}
#cadress {
  width: 20vw;
  min-height: 10vh;
  max-height: 12vh;
  max-width: 22vw;
}
#customername {
  margin: 10px 0px;
  border: 1px solid black;
}
